<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/step2.js"></script>
</head>
<div class="container" ng-controller="step2Ctrl">
    <h2>Шаг 2</h2>

    <div class="slide_block well col-md-6">
        <div class="panel panel-primary input-group col-md-12">
            <span class="col-md-6 input-group-addon">Тип здания</span>
            <select ng-model="selectBuild" ng-options="item for item in buildingData" class="col-md-6"></select>
        </div>
            <div class="panel panel-primary input-group col-md-12" ng-repeat="item in sliderData">
                    <span class="input-group-addon">{{item.text}}</span>
                    <input type="text" ng-model="demoVals[$index]"/> м
                <div ui-slider min={{item.min}} max={{item.max}} step={{item.step}} use-decimals ng-model="demoVals[$index]" class="form-control">
                    <span class="firstValue">{{item.min}}</span>
                    <span class="secondValue">{{item.max}}</span>
                </div>
            </div>
    </div>

    <div class="col-md-6 well">
        <div class="left_house col-md-6">
            <span class="span_funnel"></span>
            <span class="span_roof_xsmall"></span>
            <span class="span_bg_roof_border"></span>
            <span class="span_balcony_front"></span>
            <span class="span_bg_wall_left"></span>
            <span class="span_door"></span>
            <span class="span_window"></span>
            <span class="span_window_big"></span>
            <span class="span_bg_wall_right"></span>
            <span class="span_bg_wall_right span_bg_wall_right1"></span>
            <span class="span_bg_wall_right span_bg_wall_right2"></span>
            <span class="span_bg_lining"></span>
            <span class="span_bg_brick"></span>
        </div>

    </div>

</div>
